body {
  background: linear-gradient(to right, rgba(90, 179, 168, 0.5), rgba(63,173,168, 0.5));
}

nav {
  padding: 5px;
  font-family: Raleway;
  background-color: Aquamarine;
  font-size: 1.8em;
  color: white;
}

nav a:link{
  text-decoration: none;
}

nav a:hover {
  color: LightSkyBlue;
}

p {
  font-family: Raleway;
  font-size: 1em;
}
